<section class="site-container section-spacing">
    <div class="max-w-[758px] mx-auto text-center">
        <p
            class="text-[24px] md:text-[28px] xl:text-[32px] font-medium md:font-normal text-[#4D4D4D] leading-[1.5] m-0">
            Wir freuen uns über Initiativbewerbungen an <br>
            <a href="mailto:careers@aintegrator.ch"
                class="text-[24px] md:text-[28px] xl:text-[32px] font-medium text-[#1A1A1A] underline transition-colors duration-200 hover:text-[#ED2915]">
                careers@aintegrator.ch
            </a>
        </p>
    </div>
</section>