<section class="site-container section-spacing">
    <div class="max-w-[758px] mx-auto text-center">
        <p
            class="text-[24px] md:text-[28px] xl:text-[32px] font-medium md:font-normal text-ai-gray-850 leading-[1.5] m-0">
            Wir freuen uns über Initiativbewerbungen an <br>
            <a href="mailto:careers@aintegrator.ch"
                class="text-[24px] md:text-[28px] xl:text-[32px] font-medium text-ai-gray-900 underline">
                careers@aintegrator.ch
            </a>
        </p>
    </div>
</section>