<main>
    <app-hero title="Sicherer AI-Vorsprung für Schweizer Unternehmen"
        description="Maximale Produktivität bei 100% Datensouveränität. Chat und Meeting-Intelligence – Sofort einsatzbereit."
        [showButton]="true" buttonLabel="LiaSuite testen" titleMaxWidthClass="md:max-w-[865px]">
    </app-hero>

    <app-info-section></app-info-section>

    <app-meeting-analysis></app-meeting-analysis>
    <app-integrations-section></app-integrations-section>
    <app-meeting-transcription></app-meeting-transcription>
    <app-meeting-summary></app-meeting-summary>
    <app-agentic-actions></app-agentic-actions>
    <app-lia-chat></app-lia-chat>
    <app-bolts-section></app-bolts-section>
    <app-security-grid></app-security-grid>
    <app-pricing-grid></app-pricing-grid>
    <app-final-cta [title]="'LiaSuite Gratis testen'"
        [description]="'Testen Sie LiaSuite 14 Tage kostenlos. In wenigen Klicks einsatzbereit'"
        [descriptionMaxWidthClass]="'max-w-[323px] md:max-w-[528px]'"
        [decorationPositionClass]="'top-[158px] md:top-[120px]'" [secondaryBtnText]="'Termin vereinbaren'"
        [secondaryBtnLink]="'/contact'" [secondaryBtnIcon]="'assets/icons/Frame.png'"
        [primaryBtnText]="'LiaSuite testen'" [primaryBtnLink]="'/contact'" [primaryBtnIcon]="'assets/icons/Frame.svg'"
        [showMobileDecoration]="true" [mobilePrimaryBtnText]="'Jetzt starten'"
        [buttonContainerClass]="'flex-col md:flex-row'" [titleDescriptionGapClass]="'mb-[19px] md:mb-0'"
        [descriptionButtonsGapClass]="'mb-[23px] md:mb-0'"
        [mobileDecorationClass]="'w-[195px] h-auto top-[248px] left-[-35px] md:w-[260px] md:top-[185px] md:left-[-25px] lg:top-[185px] opacity-100'"
        class="block section-spacing">
    </app-final-cta>
</main>