@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.hero {
    position: relative;
    margin-top: 224px;
    width: 100%;

    &__bg-dots {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        pointer-events: none;

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }

    &__container {
        @include site-container;
        display: flex;
        justify-content: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__title {
        width: 635px;
        color: #000000;
        font-family: $font-family-sans;
        font-size: 64px;
        font-weight: 500;
        line-height: normal;
        margin: 0 0 24px 0;
        letter-spacing: 0;
    }

    &__description {
        width: 633px;
        height: 108px;
        color: #4D4D4D;
        font-family: $font-family-sans;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        margin: 0;
        letter-spacing: 0;
    }
}

@include breakpoint-down(lg) {
    .hero {
        margin-top: 160px;

        &__title {
            width: 100%;
            max-width: 635px;
            font-size: 48px;
        }

        &__description {
            width: 100%;
            max-width: 633px;
            height: auto;
            font-size: 20px;
        }
    }
}

@include breakpoint-down(md) {
    .hero {
        margin-top: 120px;

        &__title {
            font-size: 32px;
            margin-bottom: $spacing-6;
        }

        &__description {
            font-size: 18px;
        }
    }
}