<section class="site-container section-spacing">
    <div class="max-w-[1144px] mx-auto">
        <div *ngIf="showMv" class="hidden xl:flex flex-col gap-[48px] xl:gap-[80px] text-left">
            <div class="flex flex-col gap-[32px]">
                <h2 class="text-[#ED2915] font-['Poppins'] text-[24px] md:text-[28px] xl:text-[32px] font-medium m-0">
                    Mission</h2>
                <div
                    class="font-['Poppins'] text-[16px] md:text-[20px] xl:text-[24px] text-ai-gray-850 leading-[1.62] m-0 flex flex-col gap-[32px]">
                    <ng-content select="[mission]"></ng-content>
                </div>
            </div>
            <div class="flex flex-col gap-[32px]">
                <h2 class="text-[#ED2915] font-['Poppins'] text-[32px] font-medium m-0">Vision</h2>
                <div
                    class="font-['Poppins'] text-[16px] md:text-[20px] xl:text-[24px] text-ai-gray-850 leading-[1.62] m-0 flex flex-col gap-[32px]">
                    <ng-content select="[vision]"></ng-content>
                </div>
            </div>
        </div>

        <div *ngIf="!isPrinciplesDesktop" class="flex flex-col gap-[32px] xl:hidden">
            @for (principle of principles; track principle.title) {
            <div class="flex flex-col gap-[24px]">
                <div class="block text-left">
                    <span
                        class="text-[#ED2915] font-['Poppins'] text-[24px] font-medium leading-normal whitespace-nowrap">{{
                        principle.index }}</span>
                    <span class="text-ai-gray-1000 font-['Poppins'] text-[24px] font-medium leading-normal"> {{
                        principle.title }}</span>
                </div>
                <div class="text-ai-gray-850 font-['Poppins'] text-[16px] font-normal leading-[26px] text-left">
                    <p *ngFor="let p of principle.description" class="mb-[16px] last:mb-0" [innerHTML]="p"></p>
                </div>
            </div>
            }
        </div>

        <div *ngIf="isPrinciplesDesktop" class="flex flex-col gap-[32px] xl:gap-[80px] items-start max-w-[1144px]">
            @for (principle of principles; track principle.title) {
            <div class="flex flex-col gap-[24px] xl:gap-[32px] w-full">
                <div class="block text-left">
                    <span class="text-[#ED2915] text-[24px] xl:text-[32px] font-medium">{{ principle.index }}</span>
                    <span class="text-ai-gray-1000 text-[24px] xl:text-[32px] font-medium"> {{ principle.title }}</span>
                </div>
                <div
                    class="text-ai-gray-850 font-['Poppins'] text-[16px] leading-[26px] xl:text-[24px] xl:leading-normal font-normal text-left">
                    <p *ngFor="let p of principle.description" class="mb-[16px] last:mb-0" [innerHTML]="p"></p>
                </div>
            </div>
            }
        </div>
    </div>
</section>