<section class="w-full section-spacing">
    <div class="site-container flex justify-center w-full">
        <div class="flex flex-col items-start text-left
                  w-full md:w-full max-w-[1144px]
                  bg-bg-subtle
                  md:p-[80px] p-[32px]
                  rounded-[12px]
                  md:min-h-[420px] min-h-[355px]">

            <img src="assets/icons/Group 2769.png" alt=""
                class="w-[56px] h-[56px] md:w-[60px] md:h-[60px] object-contain mb-[120px] md:mb-[56px]" />

            <div class="flex flex-col items-start text-left max-w-[708px]">

                <h3 class="text-text-primary font-sans font-medium
                     text-[24px] md:text-[32px]
                     leading-normal mb-[16px] md:mb-[24px]">
                    Hosted in Switzerland
                </h3>

                <p class="text-text-secondary font-sans font-normal
                    text-[14px] md:text-[24px]
                    leading-normal max-w-[290px] md:max-w-full">
                    Ihre Daten bleiben unter Ihrer Kontrolle. Datensouveränität und
                    Datensicherheit haben für uns höchste Priorität.
                </p>

            </div>
        </div>
    </div>
</section>