@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.footer {
    background-color: $color-bg-subtle;
    border-top: 1px solid $color-border;

    &__container {
        @include site-container;
        padding-top: $spacing-16;
        padding-bottom: $spacing-16;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $spacing-16;
        align-items: start;
    }

    &__logo {
        grid-column: 1;
    }

    &__logo-link {
        display: inline-block;
        @include transition(opacity);

        &:hover {
            opacity: 0.8;
        }

        &:focus-visible {
            outline: 2px solid $color-accent;
            outline-offset: 2px;
        }

        img {
            display: block;
            height: auto;
        }
    }

    &__nav {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: $spacing-12;
    }

    &__col {
        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &__heading {
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $color-text-muted;
        line-height: 1;
        margin: 0 0 $spacing-8 0;
        text-transform: capitalize;
    }

    &__links {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: $spacing-8;

        a {
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            color: $color-text-primary;
            text-decoration: none;
            @include transition(color);

            &:hover {
                color: $color-cta;
            }

            &:focus-visible {
                outline: 2px solid $color-accent;
                outline-offset: 2px;
            }
        }
    }

    &__members {
        grid-column: 1 / -1;
        padding-top: $spacing-8;
    }

    &__members-label {
        font-size: $font-size-sm;
        font-weight: $font-weight-medium;
        color: $color-text-muted;
        margin: 0 0 $spacing-4 0;
    }

    &__members-logos {
        display: flex;
        gap: $spacing-6;
        align-items: center;
        flex-wrap: wrap;
    }

    &__member-logo {
        height: 30px;
        width: auto;
        opacity: 0.6;
        @include transition(opacity);

        &:hover {
            opacity: 0.9;
        }
    }

    &__divider {
        border: none;
        border-top: 1px solid $color-border;
        margin: $spacing-8 0;
    }

    &__bottom {
        background-color: $color-bg-subtle;
        padding: $spacing-8 0;
        border-top: 1px solid $color-border;
    }

    &__bottom-container {
        @include site-container;
        @include flex-between;
    }

    &__copyright {
        font-size: $font-size-sm;
        font-weight: $font-weight-normal;
        color: $color-text-muted;
        margin: 0;
    }

    &__legal-links {
        display: flex;
        gap: $spacing-12;

        a {
            font-size: $font-size-sm;
            font-weight: $font-weight-normal;
            color: $color-text-muted;
            text-decoration: none;
            @include transition(color);

            &:hover {
                color: $color-text-primary;
            }

            &:focus-visible {
                outline: 2px solid $color-accent;
                outline-offset: 2px;
            }
        }
    }
}

@include breakpoint-down(md) {
    .footer {
        &__container {
            grid-template-columns: 1fr;
        }

        &__nav {
            grid-column: 1;
            grid-template-columns: 1fr;
        }

        &__bottom-container {
            flex-direction: column;
            gap: $spacing-4;
            text-align: center;
        }

        &__legal-links {
            justify-content: center;
        }
    }
}