<section class="w-full flex justify-center relative">
    <div
        class="flex flex-col items-center text-center relative w-full max-w-[323px] mx-auto md:max-w-[600px] md:px-12 xl:w-[828px] xl:max-w-none xl:px-0 gap-0 md:gap-[32px] xl:gap-[24px]">

        <h2 class="text-primary font-sans font-medium text-[32px] max-w-[317px] mx-auto md:max-w-full md:text-[40px] xl:text-[64px] leading-normal text-center"
            [ngClass]="titleDescriptionGapClass">
            {{ title }}
        </h2>

        <p class="w-full mx-auto text-text-muted font-sans text-[16px] leading-normal md:text-[18px] xl:text-[24px] font-normal text-center xl:mb-[8px]"
            [ngClass]="[descriptionMaxWidthClass, descriptionButtonsGapClass]">
            {{ description }}
        </p>

        <div class="flex justify-center items-center relative" [ngClass]="[buttonContainerClass, buttonsGapClass]">
            <a *ngIf="secondaryBtnText" [routerLink]="secondaryBtnLink"
                class="flex items-center text-[#000] no-underline font-sans text-[16px] md:text-[20px] xl:text-[24px] font-normal leading-normal transition-opacity duration-200 hover:opacity-80 hover:underline">
                <span>{{ secondaryBtnText }}</span>
                <img *ngIf="secondaryBtnIcon" [src]="secondaryBtnIcon" alt="" aria-hidden="true"
                    class="w-[24px] h-[24px] xl:w-[34px] xl:h-[34px] object-contain" />
            </a>

            <a *ngIf="primaryBtnText" [routerLink]="primaryBtnLink"
                class="flex items-center text-[#D32F2F] font-sans text-[16px] md:text-[20px] xl:text-[24px] font-medium leading-normal no-underline transition-opacity duration-200 hover:opacity-80 hover:underline">
                <span [class.hidden]="mobilePrimaryBtnText" [class.xl:block]="mobilePrimaryBtnText">{{ primaryBtnText
                    }}</span>
                <span *ngIf="mobilePrimaryBtnText" class="xl:hidden">{{ mobilePrimaryBtnText }}</span>
                <img *ngIf="primaryBtnIcon" [src]="primaryBtnIcon" alt="" aria-hidden="true"
                    class="object-contain w-[28px] h-[28px] xl:w-auto xl:h-auto" />
            </a>
        </div>

        <div *ngIf="showDecoration"
            class="hidden xl:block absolute left-1/2 -translate-x-1/2 pointer-events-none z-[-1] w-[900px] md:w-[1200px] xl:w-[1344px] max-w-none opacity-50 md:opacity-100"
            [ngClass]="decorationPositionClass">
            <img src="assets/images/Group 2846.png" alt="" class="w-full h-auto object-contain" />
        </div>

        <img *ngIf="showMobileDecoration" [src]="'/' + mobileDecoration" alt=""
            class="xl:hidden absolute pointer-events-none z-[10]" [ngClass]="mobileDecorationClass" />

    </div>
</section>