<div class="flex flex-col xl:flex-row justify-between items-center xl:items-start gap-[48px] xl:gap-0 section-spacing">
    <div
        class="flex flex-col items-start w-full max-w-[548px] aspect-square p-[32px] md:p-[80px] gap-[10px] rounded-[12px] bg-ai-gray-100">
        <div class="flex flex-col items-start gap-[40px]">
            <div class="flex flex-col items-start gap-[40px] md:gap-[80px]">
                <div class="flex flex-col items-start gap-[16px] md:gap-[24px]">
                    <h3 class="text-black text-[24px] md:text-[32px] font-medium leading-normal m-0 w-full">
                        Email
                    </h3>
                    <a href="mailto:support@aintegrator.ch"
                        class="w-auto md:w-[346px] text-black text-[18px] md:text-[24px] font-medium leading-normal underline break-all">
                        support@aintegrator.ch
                    </a>
                </div>

                <div class="flex flex-col items-start gap-[16px] md:gap-[24px]">
                    <h3 class="text-black text-[24px] md:text-[32px] font-medium leading-normal m-0 w-full">
                        Notfall-Support
                    </h3>
                    <a href="tel:+41783074040"
                        class="w-auto md:w-[346px] text-black text-[18px] md:text-[24px] font-medium leading-normal underline break-all">
                        +41 78 307 40 40
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div
        class="flex flex-col items-start w-full max-w-[548px] aspect-square p-[32px] md:p-[80px] gap-[10px] rounded-[12px] bg-ai-gray-100">
        <div class="flex flex-col items-start gap-[40px]">
            <div class="flex flex-col items-start">
                <div class="flex flex-col items-start gap-[16px] md:gap-[24px]">
                    <h3
                        class="text-black text-[24px] md:text-[32px] font-medium leading-normal m-0 w-auto md:w-[200px]">
                        Adresse
                    </h3>
                    <div class="flex flex-col w-auto md:w-[200px]">
                        <p class="text-ai-gray-850 text-[18px] md:text-[24px] font-medium leading-normal m-0">
                            Alntegrator</p>
                        <p class="text-ai-gray-850 text-[18px] md:text-[24px] font-medium leading-normal m-0">
                            Musterstrasse 12</p>
                        <p class="text-ai-gray-850 text-[18px] md:text-[24px] font-medium leading-normal m-0">8000
                            Zürich</p>
                        <p class="text-ai-gray-850 text-[18px] md:text-[24px] font-medium leading-normal m-0">
                            Schweiz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>