.process-divider-vertical {
    width: 3px;
    height: 48px;
    background: #ECEFF2;
    border-radius: 24px;
    margin: 24px auto;
    flex-shrink: 0;
}

.process-step-1 {
    width: 100%;
    max-width: 289px;
    height: 196px;
}

.process-step-2 {
    width: 100%;
    max-width: 310px;
    height: 196px;
}

.process-step-3 {
    width: 100%;
    max-width: 262px;
    height: 196px;
}

@media (max-width: 768px) {

    .process-step-1,
    .process-step-2,
    .process-step-3 {
        max-width: 100%;
        height: auto;
    }
}