@use '../tokens/spacing' as *;
@use 'breakpoints' as *;

@mixin site-container {
    width: 100%;
    max-width: $container-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $spacing-6;
    padding-right: $spacing-6;

    @include breakpoint-up(lg) {
        padding-left: $spacing-8;
        padding-right: $spacing-8;
    }

    @include breakpoint-up(2xl) {
        padding-left: 0;
        padding-right: 0;
    }
}